.modal.fade{ :role => "dialog", :tabindex => "-1", :id => "event_#{event.id}"}
  .modal-dialog
    = form_for @participant, :url => sign_up_path do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title= event.name
        .modal-body
          = render :partial => 'events/form', :locals => {f: f, event: event}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Zamknij
          %button.btn.btn-primary{:type => "submit"} Zapisz mnie na wydarzenie